body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    width: 40%;
    margin: auto;
    margin-top: 100px;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

textarea {
    width: 90%;
    height: 100px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}
